

/*Top Navigation Menu*/
.bg-light {
    background-color: #fff !important;
}


.navbar {
    position: fixed;
    width:100%;
    min-height: 5rem;
    margin-bottom: 1%;
    /*border-bottom: .1rem solid #e9ecef;*/
    z-index: 3;
}

.navbar-lower {
    position: fixed;
    min-height: 4.5rem;
    /*margin-top: 5rem; !*add when PMP header/footer I frame is integrated*!*/
    /*border-top: 1px solid rgba(149, 7, 27, 0.12);*/
    border-bottom: 1px solid rgba(149, 7, 27, 0.12);
    z-index: 2;
    display: -ms-flexbox;
    display: flex;
}

.bg-lower {
    background-color: #e9ecef !important;
}

.navbar-lower .navbar-nav {
    padding: 0 0 0 10%;
    margin: 0;
    align-items: center;
}

.navbar-brand {
    color:#C10E21;
}

.navbar-brand i.fas {
    margin-right: 3px;
}

.navbar-nav .nav-link, .dropdown-item {
    color:#6D6E71;
}

.navbar-brand:hover {
    color:#E11127;
}

.navbar-nav a span.fa-caret-down {
    margin-left: 3px;
}


.nav-item:hover, .dropdown-item:hover  {
    color:#C10E21;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-lower .navbar-nav .nav-link:focus,
.navbar-lower .navbar-nav .nav-link:hover,
.navbar-lower .navbar-nav .nav-link:active {
    color: #C10E21;
    /*background-color: transparent;*/
}

.navbar-toggler:hover {
    border: 1px solid #C10E21;
}

.navbar-toggler:focus {
    outline-color: #C10E21; !important;
}

.navbar-light .navbar-toggler-icon, .navbar-lower .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler-icon:hover, .navbar-lower .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28193, 14, 33, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-lower .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-nav, .nav-tem {
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
    background-color: transparent;
    white-space: nowrap;
}

.active {
    border-bottom: 1px solid #C10E21;
}

.navbar-nav>.active>a>i,
.dropdown-item.active, .dropdown-item:active {
    color: #E11127;
}

.navbar-light li a i:hover  {
    color: #C10E21;
}

.navbar-nav>.active>a,
.navbar-nav>.active>a:focus,
.navbar-nav>.active>a:hover,
.dropdown-item.active, .dropdown-item:active {
    background-color: transparent;
    border-bottom: 2px solid #E11127;
    color:#E11127;
}

.navbar-light li a:focus,
.navbar-light li a:hover{
    color: #C10E21;
    border-bottom: 2px solid #C10E21;
}

.navbar-nav .dropdown li a:hover {
    background-color: transparent;
}

.dropdown-menu li:hover {
    border-bottom: none !important;
}

.dropdown-menu.show {
    display: block;
    min-width: 250px;

}
.dropdown-item:focus, .dropdown-item:hover {
    background-color:transparent;
}

.dropdown-submenu{
    position: relative;
    width:100%;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40% !important;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100% !important;
}
@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
        min-width:20rem;
    }
}

.navbar-nav .disabled, .nav-item .disabled,  .dropdown-menu .disabled {
    color: #bdbec1;
}

