





.cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.25rem;
    column-gap: 0.5rem;
    margin-right: 5%;
}


.card {
    display: flex;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: transparent;
    border: 1px solid rgba(149, 7, 27, 0.12);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0;
    justify-content: space-around;
    margin:1% 0 2% 0;
}

.card .data-resource-card, .card .docs-home-card, .card .dataset-doc-card {
    min-width: 300px;
}

.card-content, .card-content img {
    max-width: 100%;
    max-height: 100%;
}


.card-content h2, .card-content h3 {
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
    line-height: 1.2;
    font-weight: 600;

}


.card-content p, .card-content li {
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
    text-align: left;
    color: #000000;
    line-height: 1.5;
}
.card-content p {
    margin:3%;
}

.docs-home-card {
    text-align: center;
    align-self: center;
    width:100%;
    border-radius: .25rem;
    margin:2%;
    padding: 2%;
    min-width:300px;

}

.docs-home-card i.fa {
    margin-bottom:5%;
    color:#C10E21;
    text-align: left;


}

.data-resource-card {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    /*flex: 0 0 calc(33% - 0.5rem);*/
    max-width: 450px;
    max-height: 400px;
    min-width: 300px;
    min-height: 200px;
}

.data-resource-card img {
    display: flex;
    flex-wrap:wrap;
    flex:0 0 0.5rem;
    max-width: 100%;
    max-height: 100%;
    border: none;
    background: transparent;
    height: 100%;
    width:100%;
}



.dataset-doc-card {
    height: 100%;
    overflow: auto;
    align-content: center;
    background: url("/documentation/data-resources/images/molecules_data_sm.png") repeat-y;
    padding: 2% 5% 2% 4.25rem;
    border: 1px solid rgba(149, 7, 27, 0.12);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: left;
    font-size: 1.2em;
    margin: 2%;
}

.dataset-doc-card .card-content i.fa {
    margin: 0 0.25em 0.25em .25em;
    vertical-align: center;
    font-size:xx-large;
    display: inline;
}

.dataset-doc-card .card-content h3, .dataset-doc-card .card-content i.fa {
    display:inline-flex;
    color: #C10E21;
    margin-left: 0.25em;
}

.dataset-stat-card {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    flex: 0 1 calc(50% - 0.5rem);
    max-width: 300px;
    max-height: 150px;
    min-width: 250px;
    min-height: 0;
    text-align: center;
    padding:1%;
    justify-content: left;
}


.about-card {
    text-align: center;
    align-self: center;
    width:100%;
    border-radius: .25rem;
    margin:2%;
    padding: 2%;
    max-width:500px;
}

