

.w3-card{
  box-shadow: none !important;
}

#collapsible_sidebar {
    position: sticky;
    margin-top: 0;
    top:11.75rem;
    width: 16rem;
    z-index: 1;
    padding-left: .2rem;
    background: #e9ecef  repeat-y;
    border-right: 1px solid rgba(149, 7, 27, 0.12);
    border-radius: .25rem;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.25);
    height: 100%;
    overflow: scroll;
    margin-bottom:5rem;

}

#collapsible_sidebar button {
    color: #C10E21;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    border: none;
    background: transparent;

}


#collapsible_sidebar button:hover {
    outline: none !important;
    box-shadow: none !important;
}



.sidebar_btn span {
    padding-right: 0.5rem;
    color: #C10E21;
    background:transparent none repeat scroll 0 0;
    border: none;
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
    font-size: 1.2rem;
    text-align: left;
    float: left;
    white-space: nowrap;
    overflow: scroll;
}


.sidebar_btn.focus, .sidebar_btn:focus, .toc_btn.focus, .toc_btn:focus {
    outline: none;
    box-shadow: none !important;
}

#sidebar_content {
    padding-left: 1%;
    padding-right: 1%;
    color: #6D6E71;
    width: 95%;
    padding-bottom: 2%;
    margin-bottom: 5rem;
    overflow:scroll;
}

#toc {
    padding-left: 1rem;
    padding-right: 1%;
    color: #6D6E71;
}

.toc_btn {
    background:transparent none repeat scroll 0 0;
    border: none;
}


#sidebar_content li,
#sidebar_content ul,
#sidebar_content ul li {
    display: block;
    list-style: outside none none !important;
    Padding-left: 5px;
    line-height: 1.75;
    white-space: nowrap;
    /*overflow: scroll;*/

}

#sidebar_content a {
    color: #6D6E71;
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
    font-size: 1rem;
    white-space: nowrap;
    overflow: scroll;
}

#sidebar_content a:hover {
    color: #C10E21;
}

