<div class="pmp-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentPMP" aria-controls="navbarSupportedContentPMP" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContentPMP">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a id="data-nav" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Data
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="https://precision.heart.org/Search" target="_blank">Search</a></li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Data Documentation</a>
                        <ul class="dropdown-menu">
                            <a id='aha-covid-nav' class="dropdown-item" href="/aha-pmp-documentation/AHA-COVID19-CVD-GWTG/index.html">AHA COVID-19 Registry (GWTG)</a>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a id='workspace-nav' class="nav-link" href="https://precision.heart.org/workspace">Workspace</a>
            </li>
            <li class="nav-item dropdown">
                <a id="help-nav" class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Help
                </a>
                <div class="dropdown-menu" aria-labelledby="help-dropdown">
                    <a class="dropdown-item" href="/aha-pmp-documentation/getting-started/index.html">Getting Started</a>
                    <a class="dropdown-item" href="/aha-pmp-documentation/index.html">Usage & Docs</a>
                    <a class="dropdown-item" href="/aha-pmp-documentation/PMP-FAQ.html">FAQ</a>
                    <a class="dropdown-item" href="https://precision.heart.org/technical-support">Technical Support</a>
                    <a class="dropdown-item" href="https://precision.heart.org/contact">Contact Us</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a id="about-nav" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="resources-dropdown">
                    <a class="dropdown-item" href="/aha-pmp-documentation/getting-started/index.html">PMP Overview</a>
                    <a class="dropdown-item" href="https://precision.heart.org/workspace/about">About Workspaces</a>
                    <a class="dropdown-item" href="https://precision.heart.org/security-information">Security Information</a>
                    <a class="dropdown-item" href="https://precision.heart.org/tos">Terms of Service</a>
                    <a class="dropdown-item" href="https://precision.heart.org/about">About Us</a>
                </div>
            </li>
        </ul>
<!--        <form class="form-inline my-2 my-lg-0">-->
<!--            <div>-->
<!--                <button class="menu-search-btn disabled"><i class="fa fa-search"></i>Menu</button>-->
<!--            </div>-->
<!--        </form>-->
    </div>
</nav>
</div>
